<template>
  <div class="wallcell">
    <div class="container"  :class="{ 'opacityClass': showImage }">
      <div class="top wall">
        <div class="cursorhover" @click=" funcClic(top1, 'top1') ">
          test
        </div>
        <div class="cursorhover" @click=" funcClic(top2, 'top2') ">
          test
        </div>
        <div class="cursorhover" @click=" funcClic(top3, 'top3') ">
          test
        </div>
      </div>
      <div class="middle middleSmall wall">
        <div class="cursorhover" @click=" funcClic(midtop1, 'midtop1') ">
          test
        </div>
        <div class="cursorhover" @click=" funcClic(midtop2, 'midtop2') ">
          test
        </div>
      </div>
      <div class="middle middleSmall wall">
        <div class="cursorhover" @click=" funcClic(midbot1, 'midbot1') ">
          test
        </div>
        <div class="cursorhover" @click=" funcClic(midbot2, 'midbot2') ">
          test
        </div>
      </div>
      <div class="bottom wall">
        <div class="cursorhover" @click=" funcClic(bot1, 'bot1') ">
          test
        </div>
        <div style="opacity:0">
          test
        </div>
        <div class="cursorhover" @click=" funcClic(bot2, 'bot2') ">
          test
        </div>
        <div class="cursorhover" @click=" funcClic(bot3, 'bot3') ">
          test
        </div>
      </div>
    </div>
    <div class="imgDisplay" id="imgPopup">
      <div class="imgContainer">
        <img src="" />
        <div></div>
        <button onclick="">
          Close
        </button>
      </div>
    </div>
    <DisplayImg class="displayImg" v-if=" showImage " :currentwall=" currentwall " />
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import DisplayImg from '@/components/displayimg/DisplayImg.vue'
export default defineComponent({
  name: 'WallCell',
  props: {
    wallsData: {
      type: Array,
      required: true
    }
  },
  components: {
    DisplayImg
  },
  data () {
    return {
      top1: {
        content: String,
        position: 'top1',
        date: null
      },
      top2: {
        content: String,
        position: 'top2',
        date: null
      },
      top3: {
        content: String,
        position: 'top3',
        date: null
      },
      midtop1: {
        content: String,
        position: 'midtop1',
        date: null
      },
      midtop2: {
        content: String,
        position: 'midtop2',
        date: null
      },
      midbot1: {
        content: String,
        position: 'midbot1',
        date: null
      },
      midbot2: {
        content: String,
        position: 'midbot2',
        date: null
      },
      bot1: {
        content: String,
        position: 'bot1',
        date: null
      },
      bot2: {
        content: String,
        position: 'bot2',
        date: null
      },
      bot3: {
        content: String,
        position: 'bot3',
        date: null
      },
      currentwall: Object,
      showImage: false
      // Définissez votre state ici
    }
  },
  watch: {
    wallsData: {
      handler (e) {
        if (e) {
          this.refreshContent()
        }
      }
    }
  },
  methods: {
    funcClic (wall) {
      if (wall) {
        this.currentwall = wall
      }
      this.showImage = !this.showImage
    },
    refreshContent () {
      this.wallsData.forEach((e) => {
        this.$data[e.location].content = e.content
        this.$data[e.location].date = e.date
      })
    }
    // Définissez vos méthodes ici
  }
  // Vous pouvez également utiliser des hooks de cycle de vie comme mounted() ou created() ici
})
</script>

<style>
.container {
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.wall {
  display: flex
}

.cursorhover:hover {
  cursor: zoom-in;
}

.top>div {
  flex: 2;
  height: 50px;
  margin: 4px;
  background: darkorange;
}

.top>div:hover {
  transform: scale(1.5, 1.2);
  border: 2px solid black;
  border-radius: 10px;
}

.bottom {
  display: flex-start
}

.bottom>div {
  height: 50px;
  margin: 4px;
  flex: 1;
  background: blue;
  transform: transform .2s;
}

.bottom>div:hover {
  transform: scale(1.5, 1.2);
  border: 2px solid black;
  border-radius: 10px;
}

body {
  position: relative;
}

.imgDisplay {
  display: none;
  transition: opacity 2s ease-out;
  position: absolute;
  top: 10%;
  left: 20%
}

.imgContainer {
  width: 80%;
  text-align: center;
  box-sizing: border-box;
}

.imgContainer>img {
  width: 80%;
}

.flex1 {
  flex: 1;
  text-align: center
}

.flex2 {
  flex: 2;
  text-align: center
}

@media screen and (min-width: 768px) {
  .middle {
    display: flex;
    justify-content: space-between;
  }

  .middle>div {
    width: 40px;
    margin: 4px;
    background: red;
    height: 200px;
    transition: transform .2s;
  }

  .middle>div:hover {
    transform: scale(1.2, 1.5)
  }
}

@media screen and (max-width: 767px) {
  .middleSmall {
    display: flex;
    justify-content: space-between;
  }

  .middleSmall>div {
    width: 40px;
    margin: 4px;
    background: red;
    height: 50px;
    transition: transform .2s;
  }

  .middleSmall>div:hover {
    transform: scale(1.2, 1.5);
    border: 2px solid black;
    border-radius: 10px;
  }
}

.displayImg {
  position: absolute;
  top: 10%;
  left: 10%;
  box-sizing: border-box;
}

.opacityClass {
  opacity: 0.2
}

/* Code CSS de votre composant */</style>
