<template>
    <div class="display-img">
        <img class="imgElement" v-if="newImgToDisplay === ''" :src="currentwall.content" />
        <img class="imgElement" v-if="newImgToDisplay !== ''" :src="newImgToDisplay" />
        <div></div>
        <div v-if="currentwall.date" >Date: {{  currentwall.date }}</div>
        <input type="file" id="inputFile" placeholder="Select a file" />
        <button @click="uploadFile()"> Upload file. </button>
        <hr />
        <button @click="hideComponent()" >Close.</button>
    </div>
</template>
<script>
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'WallCell',
  props: {
    currentwall: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      imgToUpload: '',
      newImgToDisplay: ''
    }
  },
  methods: {
    hideComponent () {
      this.$parent.showImage = false
    },
    uploadFile () {
      const input = document.querySelector('#inputFile')
      if (input.files.length > 0) {
        const [imageFile] = input.files
        const fileReader = new FileReader()
        fileReader.onload = () => {
          const srcData = fileReader.result
          console.log('base64 : ' + srcData)
          this.imgToUpload = srcData
          // fetch('http://82.165.177.54:3000/write', {
          fetch('http://127.0.0.1:3000/write', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json' // Définit le type de contenu comme JSON
            },
            body: JSON.stringify({
              room: 'salle2',
              location: this.currentwall.position,
              content: this.imgToUpload
            })
          }).then((response) => {
            return response.json()
          }).then((data) => {
            // we update data on parent component with the new content
            this.$parent[this.currentwall.position].content = this.imgToUpload
          })
            .catch((err) => {
              console.error(err)
            })
        }
        fileReader.readAsDataURL(imageFile)
      } else {
        console.log('there is no files')
      }
    }
  }
})
</script>
<style scoped>
.display-img {
    position:absolute;
    left:10%;
    top:10%;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background:lightgrey;
}
.imgElement {
    max-height: 44rem;
    max-width: 80%;
}
</style>
