<template>
  <div class="side-menu">
    <el-radio-group v-if="menuData.isCollapsable" style="margin-bottom: 20px">
      <el-radio-button :label="false" @click="setCollapse(false)">expand</el-radio-button>
      <el-radio-button :label="true" @click="setCollapse(true)">collapse</el-radio-button>
    </el-radio-group>

    <el-menu default-active="2" class="el-menu-vertical-demo" :collapse="collapsed" @open="handleOpen"
      @close="handleClose" v-for="(item) in menuData.items" :key="item.index">

      <el-menu-item :id="key" :index="item.index" @click="redirectToSalle(item.path)">
        <el-icon><Menu /></el-icon>
        <template #title>{{ item.title }}</template>
      </el-menu-item>
    </el-menu>
  </div>
</template>
<script>
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'SideMenu',
  props: {
    menuData: {
      type: Object,
      required: true
    }
    /* EXEMPLE:
      menuDataFake: {
        isCollapsable: false,
        items: [
          {
            index: '1',
            title: 'Titre 1',
            path: '/'
          },
          {
            index: '2',
            title: 'Titre 2',
            path: '/about'
          },
          {
            index: '3',
            title: 'Titre 3',
            path: '/base64'
          }
        ]
      }
      */
  },
  data () {
    return {
      collapsed: false
    }
  },
  methods: {
    setCollapse (toCollapse) {
      this.collapsed = toCollapse
    },
    redirectToSalle (path) {
      this.$router.push(path)
    }
  }
})
</script>
