<template>
    <div class="connection-app">
      <el-row>
        <el-col :span="10">
          <el-input v-model="username" placeholder="Please input" prefix-icon="User" class="maxWidthInput" />
        </el-col>
        <el-col :span="10">
          <el-input
            v-model="pwd"
            type="password"
            placeholder="Please input password"
            show-password
            prefix-icon="Lock"
            class="maxWidthInput"
          />
        </el-col>
        <el-col :span="4">
          <el-button type="primary" @click="ConnectNow">Sign in</el-button>
        </el-col>
      </el-row>
    </div>
</template>
<script>
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'ConnectionApp',
  data () {
    return {
      username: '',
      pwd: ''
    }
  },
  methods: {
    ConnectNow () {
      debugger
      console.log('connect now!')
    }
  }
})
</script>
<style scoped>
.maxWidthInput {
  max-width: 96%;
}
</style>
