<template>
  <div class="about">
    <h1>This is an about page</h1>
    <WallCell :wallsData="salle2data" />
  </div>
</template>
<script>
// @ is an alias to /src
import WallCell from '@/components/wall/WallCell.vue'
export default {
  name: 'HomeView',
  components: {
    WallCell
  },
  data () {
    return {
      salle2data: []
    }
  },
  mounted () {
    this.fetchScreenshots()
  },
  methods: {

    fetchScreenshots () {
      // fetch('http://82.165.177.54:3000/salle2').then((response) => {
      fetch('http://127.0.0.1:3000/salle2').then((response) => {
        return response.json()
      }).then((data) => {
        this.salle2data = data
      })
        .catch((err) => {
          console.error(err)
        })
    }
  }
}
</script>
