<template>
  <div class="base64">
    <h1>This is an base64 converter page</h1>
    <input type="file" id="input" />
    <button @click="b64toString()">b64toString</button>
    <button @click="stringToB64()">stringToB64</button>
    <button @click="clearImage()">Reset image</button>
    <button @click="setTextImage()">setTextImage</button>
    <button @click="getIMG()">getImg</button>
    <input type="text" id="newimg" />
    <img id="imageToSet" />
    <img :src="b64string" id="img" />
    <canvas width="300" height="100">
  Désolé, votre navigateur ne prend pas en charge &lt;canvas&gt;.
</canvas>

  </div>
</template>
<script>
// @ is an alias to /src
// import Url from '@/../config/backend_config.js'
export default {
  name: 'Base-64',
  data () {
    return {
      b64string: ''
    }
  },
  mounted () {
    const canvas = document.querySelector('canvas')
    const ctx = canvas.getContext('2d')
    ctx.fillStyle = 'green'
    ctx.fillRect(10, 10, 100, 100)
    debugger
    console.log(process.env.VUE_APP_NOT_SECRET_CODE)
  },
  methods: {
    clearImage () {
      this.b64string = ''
    },
    getIMG () {
      debugger
      // fetch(Url.url + 'salle2', {
      // fetch('http://82.165.177.54:3000/salle2', {
      fetch('http://localhost:3000/salle2', {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json', // Définit le type de contenu comme JSON,
          'Access-Control-Allow-Origin': '*'
        }
      }).then((response) => {
        debugger
        console.log('sucess!')
        return response.json()
      }).then((data) => {
        debugger
        console.log(data)
      })
        .catch((err) => {
          debugger
          console.error(err)
        })
    },
    setTextImage () {
      debugger
      document.querySelector('#img').src = document.querySelector('#newimg').value
    },
    b64toString () {
      console.log('hi')
      const input = document.querySelector('#input')
      if (input.files.length > 0) {
        const [imageFile] = input.files
        const fileReader = new FileReader()
        fileReader.onload = () => {
          const srcData = fileReader.result
          console.log('base64 : ' + srcData)
          this.$data.b64string = srcData
        }
        fileReader.readAsDataURL(imageFile)
      } else {
        console.log('there is no files')
      }
      debugger
      debugger
    },
    stringToB64 () {
      console.log('stringtob64')
      if (this.$data.b64string) {
        console.log(this.$data.b64string)
      }
      console.log(this.$data.b64string.toString())
      fetch('http://localhost:3000/write', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json' // Définit le type de contenu comme JSON
        },
        body: JSON.stringify({
          room: 'salle2',
          location: 'top1',
          string: 'Votre chaîne de caractères ici',
          content: this.$data.b64string.toString()
        })
      }).then((response) => {
        console.log('sucess!')
        return response.json()
      }).then((data) => {
        console.log(data)
      })
        .catch((err) => {
          console.error(err)
        })
    }
  }
}
</script>
