<template>
  <div class="HeaderApp" style="background: rgb(0, 255, 170)">
      <!-- hello
      <el-button type="primary">Primary</el-button>
      <el-icon :size="size" :color="color">
      <Edit />
    </el-icon> -->
    <el-row>
        <el-col :span="7">
        </el-col>
        <el-col :span="7">
        </el-col>
        <el-col :span="8">
          <ConnectionApp />
        </el-col>
        <el-col :span="1">
          <el-button type="danger">Register now</el-button>
        </el-col>
      </el-row>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import ConnectionApp from './../components/connection/ConnectionApp'
export default defineComponent({
  name: 'HeaderApp',
  components: {
    ConnectionApp
  },
  data () {
    return {
      // Définissez votre state ici
    }
  },
  watch: {
  },
  methods: {
    // Définissez vos méthodes ici
  }
  // Vous pouvez également utiliser des hooks de cycle de vie comme mounted() ou created() ici
})
</script>
<style>
.HeaderApp {
    padding:5px;
}
</style>
