<template>
  <div class="MenuApp">
      <SideMenu  :menuData="MainMenu"/>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import SideMenu from './../components/menu/SideMenu'

export default defineComponent({
  name: 'MenuApp',
  components: {
    SideMenu
  },
  data () {
    return {
      // Définissez votre state ici
      MainMenu: {
        isCollapsable: true,
        items: [
          {
            index: '1',
            title: 'Titre 1',
            path: '/'
          },
          {
            index: '2',
            title: 'Titre 2',
            path: '/about'
          },
          {
            index: '3',
            title: 'Titre 3',
            path: '/base64'
          }
        ]
      }
    //   menuDataFake: {
    //     isCollapsable: false,
    //     items: [
    //       {
    //         index: '1',
    //         title: 'Titre 1',
    //         path: '/'
    //       },
    //       {
    //         index: '2',
    //         title: 'Titre 2',
    //         path: '/about'
    //       },
    //       {
    //         index: '3',
    //         title: 'Titre 3',
    //         path: '/base64'
    //       }
    //     ]
    //   }
    }
  },
  watch: {
  },
  methods: {
    // Définissez vos méthodes ici
  }
  // Vous pouvez également utiliser des hooks de cycle de vie comme mounted() ou created() ici
})
</script>

<style>/* Code CSS de votre composant */</style>
