<template>
  <div class="RegisterApp">
    <el-form :model="form" :rules="rules" ref="form" label-width="200px" style="max-width:600px" class="formRegister">
    <el-form-item label="Nom" prop="lastname">
      <el-input v-model="form.lastname"></el-input>
    </el-form-item>
    <el-form-item label="Prénom" prop="firstname">
      <el-input v-model="form.firstname"></el-input>
    </el-form-item>
    <el-form-item label="Email" prop="email">
      <el-input v-model="form.email"></el-input>
    </el-form-item>
    <el-form-item label="Mot de passe" prop="password">
      <el-input v-model="form.password" type="password"></el-input>
    </el-form-item>
    <el-form-item label="Confirmer le mot de passe" prop="confirmPassword">
      <el-input v-model="form.confirmPassword" type="password"></el-input>
    </el-form-item>
    <el-form-item label="Pseudonyme" prop="pseudo">
      <el-input v-model="form.pseudo"></el-input>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="submitForm">Valider</el-button>
    </el-form-item>
  </el-form>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
// import { FormInstance, FormRules } from 'element-plus'
export default defineComponent({
  lastname: 'RegisterApp',
  data () {
    return {
      form: {
        lastname: '',
        firstname: '',
        email: '',
        password: '',
        confirmPassword: '',
        pseudo: ''
      },
      rules: {
        lastname: [
          { required: true, message: 'Veuillez entrer votre nom', trigger: 'blur' },
          {
            validator: (rule, value, callback) => {
              if (!value || /^[a-zA-Z]+$/.test(value)) {
                callback()
              } else {
                callback(new Error('Le nom ne peut contenir que des lettres'))
              }
            },
            trigger: 'blur'
          }
        ],
        firstname: [
          { required: true, message: 'Veuillez entrer votre prénom', trigger: 'blur' },
          {
            validator: (rule, value, callback) => {
              if (!value || /^[a-zA-Z]+$/.test(value)) {
                callback()
              } else {
                callback(new Error('Le prénom ne peut contenir que des lettres'))
              }
            },
            trigger: 'blur'
          }
        ],
        email: [
          { required: true, message: 'Veuillez entrer votre adresse email', trigger: 'blur' },
          {
            validator: (rule, value, callback) => {
              if (!value || /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(value)) {
                callback()
              } else {
                callback(new Error('Veuillez entrer une adresse email valide'))
              }
            },
            trigger: 'blur'
          }
        ],
        password: [
          { required: true, message: 'Veuillez entrer un mot de passe', trigger: 'blur' }
        ],
        confirmPassword: [
          { required: true, message: 'Veuillez confirmer votre mot de passe', trigger: 'blur' },
          {
            validator: (rule, value, callback) => {
              if (!value || value === this.form.password) {
                callback()
              } else {
                callback(new Error('Les mots de passe ne correspondent pas'))
              }
            },
            trigger: 'blur'
          }
        ],
        pseudo: [
          { required: true, message: 'Veuillez entrer un pseudonyme', trigger: 'blur' },
          {
            validator: (rule, value, callback) => {
              if (!value || /^[a-zA-Z0-9]+$/.test(value)) {
                callback()
              } else {
                callback(new Error('Le pseudonyme ne peut contenir que des lettres et des chiffres'))
              }
            },
            trigger: 'blur'
          }
        ]
      }
    }
  },
  methods: {
    submitForm () {
      this.$refs.form.validate((valid) => {
        if (valid) {
          // Le formulaire est valide, tu peux traiter les données ici
          console.log('Données valides:', this.form)
          debugger
          alert('on peu submit le formulaire')
        } else {
          // Le formulaire est invalide
          console.log('Le formulaire contient des erreurs')
        }
      })
    }
    // Définissez vos méthodes ici
  }
  // Vous pouvez également utiliser des hooks de cycle de vie comme mounted() ou created() ici
})
</script>
<style scoped>
.formRegister {
  margin-left:auto;
  margin-right:auto;
}
</style>
