<script setup>
import { RouterLink, RouterView } from 'vue-router'
import HeaderApp from './views/HeaderApp.vue'
import MenuApp from './views/MenuApp.vue'
</script>
<template>
  <!-- <HeaderApp />
  <nav>
    <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link> |
    <router-link to="/base64">Base 64</router-link>
  </nav>
  <router-view/> -->

  <div class="common-layout">
    <el-container>
      <el-header>
        <HeaderApp />
      </el-header>
      <el-container>
        <el-aside width="200px">
        <MenuApp />
        </el-aside>
        <el-main style="background:lightblue">
          <nav>
            <router-link to="/">Home</router-link> |
            <router-link to="/about">About</router-link> |
            <router-link to="/base64">Base 64</router-link>
          </nav>
          <router-view/>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>
